@import url("../../style.css");

html {
	--link-width: 4px;
	--node-stroke-width: 4px;
}

.textbox-box.box-MB {
	--fill: #ED6107;
}

.textbox-box.box-FB {
	--fill: #1C838B;
}

.textbox-box.box-Z {
	--fill: #753917;
}
