@import url("../../style.css");

html {
	--link-width: 3px;
	--node-stroke-width: 3px;
}

.textbox-box.box-Chronogeometrical {
	--fill: #825238;
}

.textbox-box.box-Referents {
	--fill: #F2CA78;
}

.textbox-box.box-Postulates {
	--fill: #F28937;
}

.textbox-box.box-Family {
	--fill: #B4B029;
}

.textbox-box.box-Frames {
	--fill: #2F671D;
}

.textbox-box.box-EqMotion {
	--fill: #B02740;
}
