@import url("cmm/style.css");

.navbar {
	--bs-navbar-color: #337ab7;
}

.collapse-navbar-collapse {
	text-align: left;
}

.title, h2 {
  color: #265418;
}

.title h1 {
  /*  font-family: 'Sriracha', cursive;*/
}

.title h2 {
  font-family: 'Waiting for the Sunrise', cursive;
}

.intro-header {
	text-align: center;
	display: flex;
}

.container {
	display: flex;
	flex-flow: wrap;
}

.container > * {
  flex: 1 100%;
}

.nav a {
  text-transform: uppercase;
}

.main {
  flex: 2 0px;
  order: 2;
}

.aside-1 {
  order: 1;
}

.aside-2 {
  order: 3;
}

.acknowledgements {
	padding-top: 120px;
}

.footer-pasto {
  font-size: x-small;
	background-image: url("images/pasto.svg");
  background-position: top center;
  background-repeat: repeat-x;
  min-height: 180px;
}

#attr-desc {
	display: none;
}

.dia-shell {
	margin-top: 1em;
  position: relative;
  padding: 0;
}

.dia-shell.fullscreen {
  background-color: white;
  margin: 0;
  width: 100%;
  height: 100%;
}

.dia-shell .btn-toolbar {
  position: absolute;
  top: 20px;
  --tb-width: 205px;
  width: var(--tb-width);
  left: calc(100% - var(--tb-width));
}

.dia-shell .btn {
  --bs-btn-bg: white;
}

.diagram {
	width: 100%;
}

.diagram > svg {
  cursor: move;
}

#infobox {
  display: none;
}

.floated, .dia-shell {
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.floatbox {
  position: absolute;
  top: 180px;
  left: 24px;
  min-width: 350px;
  max-width: calc(100% - 40px);
	padding: 1em;
	background-color: white;
  border: 1px solid black;
}

.floatbox button.btn-close {
  float: right;
}

.floatbox h2 {
	margin-top: 0;
  margin-right: 1em;
  white-space: nowrap;
}

.floatbox p {
  max-width: 350px;
}

.floatbox p:last-child {
  margin-bottom: 0;
}

.floatbox p > span {
  background-color: white;
}

.affix {
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	margin: 0;
}

text {
  font: 14px sans-serif;
}

.clave {
  cursor: default;
}

.box-bg {
  fill: white;
  stroke: black;
}

.box-distancia.textbox-box {
	fill: gray;
}

.box-tamaño.textbox-box {
	fill: red;
}

.textbox-bg-stop1 {
	stop-color: rgba(255,255,255,0.45);
}

.textbox-bg-stop2 {
	stop-color: rgba(255,255,255,0.20);
}

.textbox-bg {
	stroke-width: 1px;
	stroke: #999;
	fill: url(#textbox-bg-gradient);
}

.textbox-text {
  font: 24px sans-serif;
	padding: 15px;
}

.objects-label {
	z-index: 200;
}

.objects-label-text {
	fill: black;
}

.objects-label-box {
	fill: white;
}

.attributes-label {
	z-index: 200;
}

.attributes-label.hasexp, .attributes-label.hasexp * {
  cursor: pointer;
}

.attributes-label-text {
	font-style: italic;
	fill: black;
}

.node .node-dot * {
	cursor: pointer;
}

.node * {
  cursor: grab;
}

.drag * {
	cursor: grabbing !important;
}

.node-bg {
	fill: white;
	stroke: none;
}

.node-basic {
	fill: none;
	stroke: #753917;
	stroke-width: var(--node-stroke-width);
}

.node-new-attribute {
	fill: gray;
	stroke: none;
}

.node-new-object {
	fill: #392e0d;
	stroke: none;
}

.fixed .node-bg {
	stroke-width: 10px;
	stroke: #dd0;
}

.link {
  stroke: #753917;
  stroke-width: var(--link-width);
	z-index: 200;
}

.link.infimum:not(.active), .node.infimum:not(.active) .node-basic {
  opacity: 0.1;
}

.link.inactive,
.node.inactive .node-basic,
.node.inactive .node-new-attribute,
.node.inactive .node-new-object,
.node.inactive .attributes-label,
.node.inactive .objects-label
{
	opacity: 0.125;
}

.node.inactive .node-bg {
	opacity: 1;
}

.attributes-label-box {
	fill: #CE2A24;
}
