@import url("../../style.css");

html {
	--link-width: 3px;
	--node-stroke-width: 3px;
}

.attributes-label-box {
	--fill: #F0AE2B;
}

.textbox-box.box-M {
	--fill: #753917;
}

.textbox-box.box-GO {
	--fill: #F0AE2B;
}

.textbox-box.box-Tip {
	--fill: #ED6107;
}

.textbox-box.box-Cond {
	--fill: #7E7C1D;
}

.textbox-box.box-Cosmo {
	--fill: #3951AC;
}

.textbox-box.box-Function {
	--fill: #9D9170;
}

.textbox-box.box-Action {
	--fill: #E86D6D;
}

.textbox-box.box-FieldEq {
	--fill: #CE2A24;
}

.textbox-box.box-MovEq {
	--fill: #1B838B;
}

.textbox-box.box-ElemDis {
	--fill: #096E39;
}
